*{
margin:0%;
padding:0%;
text-decoration:nane;
box-sizing:border-box;
}
  /* parte da dimenção*/
  input[content="width=device-width"]{
max-width:1500px;
min-width:490px;
}
:root{
	--width-dimencao:1480px calc(16px + 0.5vw);
	--width-dimenca:980px calc(16px + 0.5vw);
	--Width-dimenc:480px calc(16px + 0.5vw);
}
body{
	/*background-image:url('siteimg/fundobody.png');*/
	margin:0% 1% 0% 1%;
	width:98%;
}
div#divCorpo{
		/*background-color:#cecece;*/
		width:var(--width-dimencao),var(--width-dimenca),var(width-dimenc);
		position:absolute;
		}

  /*parte principal pagina, cabeçalho*/
header#heaCorpo{
        background-color:#a7a7a7;
		height:310px;
		width:var(--width-dimencao),var(--width-dimenca),var(width-dimenc);
        position:relative;
}
hgroup#hgrcab{
	/*background-color:#0f0;*/
	width:960px;
}
h1#h1cab{
		/*background-color:#f00;*/
		padding-left:120px;
		font-family:;
		font-size:80px;
		margin-bottom:100px;
}
h2#h2cab{
		/*background-color:#ff0;*/
		padding-left:80px;
		font-family:;
		font-size:80px;
		margin-top:100px;
}
nav#navcab{
	position:absolute;
	margin:1%;
}
img#imgcab{
	width:920px;
	height:100px;
		margin:-195px 0px 100px;
		position:relative;
		
}
   /*parte principal pagina, corpo*/
section#secCorpo{
width:var(--width-dimencao),var(--width-dimenca),var(width-dimenc);
position:;
}
/*parte da pagina index e jogo*/
article#artCorpo{
	background-color:#a7a7a7;
	margin:0px 5px 0px 5px;
	position:;
}
header#heaum{
	background-image:url("siteimg/camisasection.png");
	background-repeat:no-repeat;
	width:930px;
	margin:0px;
	position:;
}
nav#navum{
	position:;
	margin:5px 400px;
	width:190px;
}
img#imgum{
	background-color:#909090;
	position:;
	width:190px;
	opacity:0.3;
}
hgroup#hgrum{
	background-color:#a7a7a7;
	/*border-top:5px solid;*/
	position:;
}
h1#h1um{
	padding:10px 30px;
	font-size:75px;
}
h2#h2um{
	font-size:70px;
	padding:0px 15px;
}
section#secUm{
	background-color:#a7a7a7;
	width:980px;
	position:relative;
	margin-top:5px;
}
h3#h3um{
	font-size:70px;
	padding:40px 0px;
}
p#pum{
	margin:5px;
	text-indent:50px;
	font-size:60px;
}

section#docDois{
		background-color:;
}
section#docTres{
	
}
footer#fooCorpo{
	background-color:#a7a7a7;
	position:relative;
	margin:0px 5px 5px;
	width:980px;
	height:150px;
}

h1#hfoo{
	margin:0px 350px;
}
p#pfoo{
	font-size:40px;
	 padding:10px;
}

/*   estilo jogo*/

iframe#jogCorpo{
	margin:5px;
	padding:5px;
	width:960px;
	height:1500px;
}
/*estilo cartela*/
body#cartela{
	background-color:#cecece;
	width:98%;
	height:100%;
}

.cartela1{
	background-color:#f00;
	position:absolute;
	margin:5px 0px;
}
.cartela2{
	background-color:#f00;
	position:relative;
	margin:5px 450px;
	
}
p{
	font-size:50px;
	margin: 0px 20px;
}
div#nomeUm{
	width:440px;
	height:100px;
	
}
div#nomeDois{
	width:440px;
	height:100px;
}
div#nomeTres{
width:440px;
	height:100px;
}
div#nomeQuatro{
	width:440px;
	height:100px;
}
div#nomeCinco{
	width:440px;
	height:100px;
}
div#nomeSeis{
	width:440px;
	height:100px;
}
div#nomeSete{
	width:440px;
	height:100px;
}
div#nomeOito{
	width:440px;
	height:100px;
}
div#nomeNove{
	width:440px;
	height:100px;
}
div#nomeDez{
	width:440px;
	height:100px;
}
div#nomeOnze{
	width:440px;
	height:100px;
}
div#nomeDoze{
	width:440px;
	height:100px;
}
div#nomeTreze{
	width:440px;
	height:100px;
}
div#nomeCatorze{
	width:440px;
	height:100px;
}
div#nomeQuinze{
	width:440px;
	height:100px;
}
div#nomeDesseseis{
	width:440px;
	height:100px;
}
div#nomeDessesete{
	width:440px;
	height:100px;
}
div#nomeDezoito{
	width:440px;
	height:100px;
}
div#nomeDezenove{
	width:440px;
	height:100px;
}
div#nomeVinte{
	width:440px;
	height:100px;
}
div#nomeVinteUm{
	width:440px;
	height:100px;
}
div#nomeVinteDois{
	width:440px;
	height:100px;
}
div#nomeVinteTres{
	width:440px;
	height:100px;
}
div#nomeVinteQuatro{
	width:440px;
	height:100px;
}
div#nomeVinteCinco{
	width:440px;
	height:100px;
}
div#nomeVinteSeis{
	width:440px;
	height:100px;
}
div#nomeVinteSete{
width:440px;
	height:100px;	
}
div#nomeVinteOito{
	width:440px;
	height:100px;
}
div#nomeVinteNove{
	width:440px;
	height:100px;
}
div#nomeTrinta{
	width:440px;
	height:100px;
}
div#nomeTrintaUm{
	width:440px;
	height:100px;
}
div#nomeTrintaDois{
	width:440px;
	height:100px;
}
div#nomeTrintaTres{
	width:440px;
	height:100px;
}
div#nomeTrintaQuatro{
	width:440px;
	height:100px;
}
div#nomeTrintaCinco{
	width:440px;
	height:100px;
}
div#nomeTrintaSeis{
	width:440px;
	height:100px;
}
div#nomeTrintaSete{
	width:440px;
	height:100px;
}
div#nomeTrintaOito{
	width:440px;
	height:100px;
}
div#nomeTrintaNove{
	width:440px;
	height:100px;
}
div#nomeQuarenta{
	width:440px;
	height:100px;
}
div#nomeQuarentaUm{
	width:440px;
	height:100px;
}
div#nomeQuarentaDois{
	width:440px;
	height:100px;
}
div#nomeQuarentaTres{
	width:440px;
	height:100px;
}
div#nomeQuarentaQuatro{
	width:440px;
	height:100px;
}
div#nomeQuarentaCinco{
	width:440px;
	height:100px;
}
div#nomeQuarentaSeis{
	width:440px;
	height:100px;
}
div#nomeQuarentaSete{
	width:440px;
	height:100px;
}
div#nomeQuarentaOito{
	width:440px;
	height:100px;
}
div#nomeQuarentaNove{
	width:440px;
	height:100px;
}
div#nomeCinquenta{
	width:440px;
	height:100px;
}
/* cartela2 */
div#nomeCinquentaUm{
	width:440px;
	height:100px;
}
div#nomeCinquentaDois{
	width:440px;
	height:100px;
}
div#nomeCinquentaTres{
	width:440px;
	height:100px;
}
div#nomeCinquentaQuatro{
	width:440px;
	height:100px;
}
div#nomeCinquentaCinco{
	width:440px;
	height:100px;
}
div#nomeCinquentaSeis{
	width:440px;
	height:100px;
}
div#nomeCinquentaSete{
	width:440px;
	height:100px;
}
div#nomeCinquentaOito{
	width:440px;
	height:100px;
}
div#nomeCinquentaNove{
	width:440px;
	height:100px;
}
div#nomeSessenta{
	width:440px;
	height:100px;
}
div#nomeSessentaUm{
	width:440px;
	height:100px;
}
div#nomeSessentaDois{
	width:440px;
	height:100px;
}
div#nomeSessentaTres{
	width:440px;
	height:100px;
}
div#nomeSessentaQuatro{
	width:440px;
	height:100px;
}
div#nomeSessentaCinco{
	width:440px;
	height:100px;
}
div#nomeSessentaSeis{
	width:440px;
	height:100px;
}
div#nomeSessentaSete{
	width:440px;
	height:100px;
}
div#nomeSessentaOito{
	width:440px;
	height:100px;
}
div#nomeSessentaNove{
	width:440px;
	height:100px;
}
div#nomeSetenta{
	width:440px;
	height:100px;
}
div#nomeSetentaUm{
	width:440px;
	height:100px;
}
div#nomeSetentaDois{
	width:440px;
	height:100px;
}
div#nomeSetentaTres{
	width:440px;
	height:100px;
}
div#nomeSetentaQuatro{
	width:440px;
	height:100px;
}
div#nomeSetentaCinco{
	width:440px;
	height:100px;
}
div#nomeSetentaSeis{
	width:440px;
	height:100px;
}
div#nomeSetentaSete{
	width:440px;
	height:100px;
}
div#nomeSetentaOito{
	width:440px;
	height:100px;
}
div#nomeSetentaNove{
	width:440px;
	height:100px;
}
div#nomeOitenta{
	width:440px;
	height:100px;
}
div#nomeOitentaUm{
	width:440px;
	height:100px;
}
div#nomeOitentaDois{
	width:440px;
	height:100px;
}
div#nomeOitentaTres{
	width:440px;
	height:100px;
}
div#nomeOitentaQuatro{
	width:440px;
	height:100px;
}
div#nomeOitentaCinco{
	width:440px;
	height:100px;
}
div#nomeOitentaSeis{
	width:440px;
	height:100px;
}
div#nomeOitentaSete{
	width:440px;
	height:100px;
}
div#nomeOitentaOito{
	width:440px;
	height:100px;
}
div#nomeOitentaNove{
	width:440px;
	height:100px;
}
div#nomeNoventa{
	width:440px;
	height:100px;
}
div#nomeNoventaUm{
	width:440px;
	height:100px;
}
div#nomeNoventaDois{
	width:440px;
	height:100px;
}
div#nomeNoventaTres{
	width:440px;
	height:100px;
}
div#nomeNoventaQuatro{
	width:440px;
	height:100px;
}
div#nomeNoventaCinco{
	width:440px;
	height:100px;
}
div#nomeNoventaSeis{
	width:440px;
	height:100px;
}
div#nomeNoventaSete{
	width:440px;
	height:100px;
}
div#nomeNoventaOito{
	width:440px;
	height:100px;
}
div#nomeNoventaNove{
	width:440px;
	height:100px;
}
div#nomeCem{
	width:440px;
	height:100px;
}

